---
layout: page
title: Categories
header: Posts By Category
group: navigation
---

{% comment %}Build an array of "count|categoryname" strings so we can sort by count{% endcomment %}
{% assign cat_counts = "" %}
{% for category in site.categories %}
  {% assign padded = category[1].size | prepend: "000" | slice: -4, 4 %}
  {% assign entry = padded | append: "|" | append: category[0] %}
  {% if forloop.last %}
    {% assign cat_counts = cat_counts | append: entry %}
  {% else %}
    {% assign cat_counts = cat_counts | append: entry | append: "," %}
  {% endif %}
{% endfor %}
{% assign sorted_cat_counts = cat_counts | split: "," | sort | reverse %}

<ul class="tag-list">
  {% for item in sorted_cat_counts %}
    {% assign parts = item | split: "|" %}
    {% assign cat_name = parts[1] %}
    {% assign cat_size = site.categories[cat_name].size %}
    <li><a href="#{{ cat_name }}-ref">{{ cat_name | join: "/" }} <span>{{ cat_size }}</span></a></li>
  {% endfor %}
</ul>

{% for item in sorted_cat_counts %}
  {% assign parts = item | split: "|" %}
  {% assign cat_name = parts[1] %}
  <h2 id="{{ cat_name }}-ref">{{ cat_name | join: "/" }}</h2>
  <ul>
    {% for post in site.categories[cat_name] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
