---
layout: page
title: Categories
header: Posts By Category
group: navigation
---

<ul class="tag-list">
  {% for category in site.categories %}
    <li><a href="#{{ category[0] }}-ref">{{ category[0] | join: "/" }} <span>{{ category[1].size }}</span></a></li>
  {% endfor %}
</ul>

{% for category in site.categories %}
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
