version: "3.8"
services:
  site:
    build: .
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/srv/jekyll
      - bundle_cache:/usr/local/bundle
    command: bundle exec jekyll serve --host 0.0.0.0 --watch --force_polling --livereload --drafts

volumes:
  bundle_cache:
