/* Responsive - Hide social menu on small screens */
@media (min-width: 240px) and (max-width: 979px) {
	.navbar ul.social {
		display: none !important;
	}
}

/* Responsive Overrides */
@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
		font-size: 15px;
	}

	div.container {
		padding: 0px 16px;
		div.page-header {
			border-radius: 0;
			padding: 20px 16px 12px;
		}
	}
	.page-header h1 {
		font-size: 24px;
	}
	h1 { font-size: 26px; }
	h2 { font-size: 22px; }
}
