---
layout: post
title: Mortgage, Mythmoot, and More Quenya Excitement
date: 2014-10-03 16:00:49.000000000 -05:00
categories:
- Personal
tags:
- entymology
- Lay of Leithien
- linguistics
- liswamírë
- mythmoot
- quenya
- The Entymologies
- Tolkien
status: publish
type: post
published: true
author: 
image: /assets/images/luthien_defeats_sauron.jpg
---
{% include JB/setup %}

{% include figure.html src="/assets/images/luthien_defeats_sauron.jpg" caption="Luthien kicks Sauron's ass, in anime form." %}

<p>This was an exciting week at the TZ household. The biggest piece of news is that our mortgage application is moving forward. I don't pretend to really understand the entire process, but we are passing through multiple stages of Wells Fargo's approval process for a home loan. Today, we mailed out the paperwork for a yet more specific application. If everything keeps going as its going, Liswamírë and I may actually own a house pretty soon, and, here's the odd part, Wells Fargo's latest communications to me suggest that my total mortgage will be lower than my rent. Of course, it kind of stands to reason that such a thing would happen, but it sure does make renting seem like a sucker deal. </p>
<p>All that's plenty dramatic, but there's still more. Liswamírë and I have each been invited to speak at Mythmoot this January.  Liswamírë and I each submitted a paper for the conference. We were apparently two out of over a hundred submissions, and we made the short list. How did that happen? No idea. She submitted some cool, smarty-pants linguistics thing about how the characters in <em>Clockwork Orange</em> illustrate the Sapir-Whorf Hypothesis. And I submitted some thing about <em>Book of the New Sun</em> and <em>Man Who Fell to Earth.</em> Am I bit intimidated? Yeah, a bit. But excited as well.</p>
<p>And, in the Quenya realm, we were at Half Price Books today and we found "The Lost Road and Other Writings" from Christopher Tolkien's "History of Middle Earth" series. This volume five of a series of twelve books assembled by JRR Tolkien's son containing Tolkien's notes and plans and stories about Middle Earth. This one in particular is especially exciting because it contains the text of "The Entymologies." That is, Tolkien's entymology for the Quenya language. And yes, I have already used it to spot glaring problems in some of the Quenya writing I have done so far. (Such as not really knowing the purpose of the -iel at the end of many feminine names, but using it anyway.) </p>
<p>Finally, also at Half Price, I got a copy of the "Lays of Beleriand" (volume three from History of Middle Earth) which contains, among other things, the full text of the "Lay of Leithien," a poetic telling of my favorite story from <em>The Silmarillion</em>, the story of Beren and Luthien. </p>
